@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fundo Oficial HostDevPro Cloud (Dark Slate + Radial Blue Glow) */
.bg-hostdev-cloud {
    background-color: #020617;
    background-image: radial-gradient(circle at top, #1e3a8a 0%, #020617 50%);
    background-attachment: fixed;
}

/* Animação do Marquee Contínuo */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}
